body {
    background: aliceblue;
}
h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	color: #005bae;
	font-weight: bolder;
	padding-top: 50px;
}
.carousel{
    height: 100vh;
    perspective: 250px;
}
.carousel .carousel-item{
    width: 450px;
}
.card {
	position: relative;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	width: 450px;
	height: 440px;
	margin-top: -50px;
	color: #262626;
	border-radius: 100px;
	box-shadow: 0 8px 20px 0px rgba(0,0,0,0.2);
}
.img-area img {
	border-radius: 50%;
	border: 7px solid #fff;
	margin-top: -80px;
}
.box1 {
	background: #005bae;
	height: 120px;
	border-radius: 25px 25px 0 0;
}
.img-area {
  text-align: center;
}
.img-area img {
  width: 30%;
}
.main-text {
	padding: 8px 0;
	text-align: center;
}
.main-text h2 {
	font-weight: 900;
	font-size: 20px;
	margin: 0 0 20px;
	font-family: 'Alfa Slab One', cursive;
}
.main-text p{
  font-size: 16px;
  padding: 0 35px;
}